---
import Navigation from '../SiteNavigation.astro';



---
<header class="page-header">
		<hgroup>
      <h1>Davemour</h1>
      <div class="title-switcher">
        <p>Web developer</p>
        <!-- 
          <p>IT tutor</p>
          <p>Streamer</p> 
        -->
      </div>  
    </hgroup>

  	<Navigation/>
</header>


<style>
  h1 {
    font-size: 4rem;
  }

  .page-header {
    background-color: #efcc77;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }


</style>