---
import BaseLayout from '../layouts/BaseLayout.astro';

import BlogPost from '../components/blog/BlogPostListItem.astro';
const pageTitle = 'Artículos';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout pageTitle={pageTitle} >
  <section>
    { allPosts.map(post => (
     <BlogPost postData={post}/>
    )) }
  </section>
</BaseLayout>

<style>

hr {
  border: 3px solid #ccc;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

</style>
