---
const currentPage = Astro.props.current;

const menuOptions = ["home", "about", "blog"];
---

<head> </head>

<nav class="site-navigation">
  {
    menuOptions.map((opt) => (
      <a
        href={currentPage !== opt ? "/" : ""}
        class={currentPage === opt ? "disabled" : ""}
      >
        {opt[0].toUpperCase() + opt.slice(1)}
      </a>
    ))
  }
</nav>

<style>
  .site-navigation {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  a {
    font-size: 1.25rem;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
    cursor: default;
    padding: 1rem;
    color: gray;
  }

  a:not(.disabled) {
    color: black;
  }

  a:not(.disabled):hover {
    color: #ff5733;
    text-decoration: underline;
    cursor: pointer;
  }

  a.disabled {
    background-color: #666;
  }
</style>
