---


---



<nav class="site-navigation">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
</nav>

<style>

.site-navigation {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

a {
  font-size: 1.25rem;
    color: #333; 
    text-decoration: none; 
    transition: color 0.3s; 
}

a:hover {
  color: #ff5733; 
  text-decoration: underline;
}


</style>

